@import url("global.css");

body {
  background-color: #000;
  color: #fff;
}

.p-content {
  margin: 1rem;
  padding: 2rem;
  border: solid 1px white;
  border-radius: 15px;
}

.p-content::before,
.p-content::after {
  content: "";
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: fixed;
  width: 140vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.p-content::after {
  content: "";
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

@media only screen and (min-width: 1024px) {
  .p-content {
    max-width: 50vw;
    margin: 1rem auto;
  }
}
