@import url("global.css");

.p-footer {
  height: 10vh;
  width: 100%;
  position: relative;
}

.p-footer__image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.p-footer__image img {
  height: 50%;
}
